  .progress-bar {
    box-sizing: border-box;
    color: #7C5E99;
    border: 4px solid #000;
    height: 40px;
}

.progress-bar::-webkit-progress-value {
  background: #7C5E99;
}

.progress-bar::-webkit-progress-bar {
  background-color: #FFF; width: 100%;
}